.partners {
    &__title {
        max-width: 822px;
        margin: 0 auto 72px;
        text-align: center;
        padding: 0 15px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__inner {
        position: relative;
    }
   
    &__switch {
        position: absolute;
        top: 50%;
        z-index: 10;

        svg {
            height: 94px;
            width: 42px;
            fill: transparent;
            stroke: #F1DC9A;
            stroke-width: 5px;

            @media (max-width: 610px) {
                width: 25px;
                height: 47px;
            }
        }

        &--prev {
            left: 16%;

            @media (max-width: 1810px) {
                left: 6%;
            }

            @include middledesk {
                left: 3%;
            }

            @include tablet {
                left: 2%;
            }

            @include minitablet {
                left: 1%;
            }

            @media (max-width: 610px) {
                left: 3%;
            }
        }

        &--next {
            right: 16%;

            @media (max-width: 1810px) {
                right: 6%;
            }

            @include middledesk {
                right: 3%;
            }

            @include tablet {
                right: 2%;
            }

            @include minitablet {
                right: 1%;
            }

            @media (max-width: 610px) {
                right: 3%;
            }
        }
    }

    &__sl {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0%;

        @include tablet {
            background-position: center;
        }

        @media (max-width: 610px) {
            margin-bottom: 70px;
            padding: 65px 0 !important;
            background-position: 0 0 !important;
            background-size: 100% 100% !important;
        }

        &:nth-child(1) {
            background-image: url("../img/partners/bg-1.png");
            padding: 60px 0 70px 0;

            @include tablet {
                background-image: url("../img/partners/bg-tabl_1.png");
                padding: 34px 0 20px 0;
                background-position: 0 -100px;
                background-size: 100% 135%;
            }

            @include minitablet {
                background-position: -30px -100px;   
            }

            @media (max-width: 610px) {
                background-image: url("../img/partners/bg-mob_1.png");
                background-position: 0 0;
            }
        }

        &:nth-child(2) {
            background-image: url("../img/partners/bg-2.png");
            padding-bottom: 115px;

            @include tablet {
                background-image: url("../img/partners/bg-tabl_2.png");
                padding-bottom: 0;
                background-position-x: 35px;
                background-size: 100% 177%;
            }

            @include minitablet {
                background-position-x: 40px;
            }

            @media (max-width: 610px) {
                background-image: url("../img/partners/bg-mob_2.png");
            }
        }

        &:nth-child(3) {
            background-image: url("../img/partners/bg-3.png");
            padding-bottom: 80px;

            @include tablet {
                background-image: url("../img/partners/bg-tabl_3.png");
                background-position: -12px -90px;
                padding-bottom: 20px;
                background-size: 100% 150%;
            }

            @include minitablet {
                background-size: 100% 144%;
                background-position-x: -35px;
            }

            @media (max-width: 610px) {
                background-image: url("../img/partners/bg-mob_3.png");
                background-position: 0 0;
                background-size: 100% 100%;
            }
        }

        &:nth-child(4) {
            background-image: url("../img/partners/bg-4.png");
            padding-bottom: 70px;

            @include tablet {
                background-image: url("../img/partners/bg-tabl_4.png");
                padding-bottom: 40px;
                background-size: 100% 125%;
                background-position: 45px -30px;
            }

            @include minitablet {
                background-position-x: 46px;
            }

            @media (max-width: 610px) {
                background-image: url("../img/partners/bg-mob_4.png");
            }
        }

        &:nth-child(5) {
            background-image: url("../img/partners/bg-5.png");
            padding: 120px 0 90px 0;

            @include tablet {
                background-image: url("../img/partners/bg-tabl_5.png");
                padding: 10px 0 90px 0;
                background-size: 100% 140%;
                background-position-x: -40px;
            }

            @media (max-width: 610px) {
                background-image: url("../img/partners/bg-mob_5.png");
            }
        }
        
        &:nth-child(odd) {
            .partners__slider {
                margin-left: auto;
                margin-right: 50px;

                @include tablet {
                    margin-right: 25px;
                }

                @include minitablet {
                    margin-right: 20px;
                }

                @media (max-width: 610px) {
                    margin: 0 auto;
                }
            }
        }

        &:nth-child(even) {
            .partners__slider {
                @include middledesk {
                    margin-left: 50px;
                }

                @include minidesk {
                    margin-left: 66px;
                }

                @include tablet {
                    margin-left: 55px;
                }

                @include minitablet {
                    margin-left: 50px;
                }

                @media (max-width: 610px) {
                    margin: 0 auto;
                }
            }
        }
    }

    &__slider {
        max-width: 485px;
        margin: 0;

        @include minidesk {
            max-width: 375px;
        }

        @include tablet {
            max-width: 355px;
        }

        @include minitablet {
            max-width: 300px;
        }

        @media (max-width: 610px) {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 30px;
        }

        .swiper-slide {
            @media (max-width: 610px) {
               text-align: center;
            }
        }
    }

    &__logo {
        margin: 0 auto;
        display: block;

        @media (max-width: 610px) {
            max-width: 197px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;

        @include tablet {
            font-size: 18px;
            line-height: 22px;
        }
        
        p {
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }
    }
}

