.products {
    padding-top: 50px;

    @include mobile {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    &__title {
        margin-bottom: 38px;

        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-family: 'GaramondPremrPro';
        font-size: 24px;
        line-height: 46px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: #000000;
        border-bottom: 1px solid #ccc;
    }

    &__text {
        font-size: 18px;
        line-height: 20px;
        color: #000000;
        margin-top: 7px;
        margin-bottom: 38px;
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 7px 8px;
        margin-top: 7px;
    }

    &__logo {
        border: 1px solid #ccc;
        @include flex-all-center;
        padding: 17px;

        img {
            max-width: 100%;
        }
    }

    &__arrow {
        position: absolute;
        top: 14px;
        right: 5px;
        width: 35px;
        height: 22px;
        transform: rotate(90deg);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @include mobile {
            top: 11px;
        }
    
        &.active {
            transform: rotate(270deg) !important;
        }
    }

    &__menu-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px 20px;
        margin-bottom: 24px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            gap: 8px 0;
        }

        & > li {
            position: relative;
            text-align: center;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #000;

                @include minitablet {
                    background-color: #fff;
                }

                .products__menu-link {
                    color: #fff;

                    @include minitablet {
                        color: #000;
                    }
                }

                .products__arrow {
                    transform: rotate(270deg);
                    fill: #fff;

                    @include minitablet {
                        transform: rotate(90deg);
                        fill: #000;
                    }
                }
            }
        }
    }

    &__menu-link {
        width: 100%;
        border: 1px solid #000000;
        padding: 12px 10px; 
        color: #000;
        font-weight: 450;
        font-size: 18px;
        line-height: 22px;    
        display: block;
        transition: all 0.2s ease-in-out;

        @include mobile {
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
        }
    }

    &__submenu-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        padding-top: 5px;
        z-index: 1;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        background-color: #fff;

        @include mobile {
            background-color: transparent;
            padding-top: 10px;
        }
        
        li {
            transition: all 0.2s;

            @include mobile {
                max-width: 370px;
                margin-left: auto;
                margin-right: auto;
            }

            &:not(:last-child) {
                margin-bottom: 5px;

                @include mobile {
                    margin-bottom: 10px;
                }
            }

            &:hover {
                background-color: #000;

                .products__submenu-link {
                    color: #fff;
                }
            }
        }
    }

    &__submenu-link {
        width: 100%;
        border: 1px solid #000000;
        padding: 12px 10px 12px 10px; 
        color: #000;
        font-weight: 450;
        font-size: 18px;
        line-height: 22px;    
        display: block;
        transition: all 0.2s;
        background-color: #fff;

        @include mobile {
            font-size: 16px;
            line-height: 20px;
            padding: 10px;
        }
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;

        @include minitablet {
            display: block;
        }
    }

    &__info {
        grid-column: 3 span;
    }

    &__text {
        @include mobile {
            display: none;
        }
    }

    &__box {
        grid-column: 9 span;
    }

    &__pag {
        display: flex;

        @include tablet {
            justify-content: center;
        }

        &-item {
            font-size: 18px;
            line-height: 18px;
            color: #CCCCCC;
            border: 1px solid #CCCCCC;
            padding: 4px 10px 6px;

            &--active {
                color: #EFC235;
                border-color: #EFC235;
            }

            &:not(:last-child) {
                margin-right: 9px;
            }
        }
    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px 29px;
    margin-bottom: 25px;

    @include minitablet {
        margin-top: 50px;
        gap: 25px 6px;
    }

    &__item {
        grid-column: 4 span;
        border: 1px solid #CCCCCC;

        @include tablet {
            grid-column: 6 span;
        }
    }

    &__img {
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__text {
        padding: 25px 22px 13px 11px;
        position: relative;

        @include tablet {
            padding: 19px 7px 9px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-top: 1px solid #CCCCCC;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;

        @include mobile {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__price {
        font-family: 'GaramondPremrPro';
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;

        @include mobile {
            font-size: 14px;
            line-height: 18px;
            margin-top: 13px;
        }
    }
}

body.mouse .products__menu-list > li:hover .products__submenu-list {
    display: block;
}

body.touch .products__submenu-list.open{
    display: block;
    position: static;
}
  