<section class="about">
    <img src="img/about/bg.png" alt="" class="about__bg">
    <img src="img/about/bg-mob.png" alt="" class="about__bg--mob">
    <div class="container">
        <h2 class="about__title center section-title">о компании</h2>
        <div class="about__inner">
            <div class="about__item">
                <h3 class="about__subtitle">познакомьтесь с брендами, которые мы предсатвляем</h3>
                <p class="about__text">Мы сотрудничаем с европейскими фабриками, которые имеют большой опыт производства и славятся высоким качеством своих инструментов. Это фабрики из Чехии, Германии и Италии. В разделе “О компании” Вы более подробно сможете прочитать о каждой из них.</p>
            </div>
            <div class="about__item">
                <h3 class="about__subtitle">УЗнайте, какие условия предлагает наш салон</h3>
                <p class="about__text">Почему нам доверяют? Мы официальные представители фортепианных фабрик на территории Казахстана и имеем подлинные сертификаты о дилерстве от каждой из них. Мы оказываем полное сопровождение, даем гарантию, заключаем официальный договор поставки и всегда выполняем свои обязательства, потому что дорожим своей репутацией.</p>
                <a href="about-page.html" class="about__btn btn">подробнее о компании</a>
            </div>
        </div>
    </div>
</section>