<section class="about-info">
    <div class="container">
        <h2 class="section-title about-info__title center">салон европейских пианино и роялей в казахстане</h2>
        <div class="about-info__inner">
            <div class="about-info__logo">
                <img src="img/about/Frame.png" alt="">
            </div>
            <div class="about-info__text">
                <p>Салон PIANOS с 2013 года официально представляет на рынке Казахстана пианино и рояли лучших европейских производителей: FAZIOLI, PETROF, August Forster, C.Bechstein, Schimmel, Weinbach.</p>
                <p>Эти фабрики имеют более чем 120-ти летний опыт производства и отличную репутацию среди музыкантов по всему миру. Фабрики базируются в Германии, Италии и Чехии, а также имеют свои дочерние филиалы в других регионах мира.</p>
                <p>Мы осуществляем доставку инструментов не только по Казахстану, но и в соседние Республики. Также, мы предлагаем полный пакет дополнительных услуг и сопутствующих товаров: банкетки, дополнительные системы, аренда, настройка и уроки музыки.</p>
            </div>
        </div>
    </div>
</section>





