<section class="about-why">
    <img src="img/page-section/bg-why.png" alt="" class="about-why__bg">
    <img src="img/about-why/bg-mob.png" alt="" class="about-why__bg--mob">
    <div class="container">
        <h2 class="about-why__title section-title center">почему приобретают <br> у нас?</h2>
        <div class="about-why__grid">
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-1.png" alt="">
                </div>
                <h3>прямая поставка с фабрик-изготовителей, без посредников</h3>
                <p>Заказывая инструмент в нашем салоне Вы можете быть уверены, что инструмент соответствует заявленному качеству и доставлен напрямую из мастерской фабрики-изготовителя</p>
            </div>
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-2.png" alt="">
                </div>
                <h3>5 лет официальной гарантии от фабрики</h3>
                <p>На все пианино и рояли европейского производства - международная гарантия в течение 5 лет. На дочерние линейки европейских фабрик - 2 года</p>
            </div>
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-3.png" alt="">
                </div>
                <h3>доставка по всем регионам казахстана и за рубеж</h3>
                <p>Мы осуществляем бесплатную доставку по городам Алматы и Нур-Султан (Астана), дополнительно - по всем регионам РК. Мы также имеем опыт поставки фортепиано в Узбекистан, Азербайджан и Кыргызстан</p>
            </div>
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-4.png" alt="">
                </div>
                <h3>квалифицированная консультация экспертов</h3>
                <p>Вы получите профессиональную консультацию по всем вопросам, касающимся фортепиано. Эксперты помогут Вам подобрать лучший вариант пианино или рояля, исходя из Ваших потребностей</p>
            </div>
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-5.png" alt="">
                </div>
                <h3>более 180 моделей пианино и роялей</h3>
                <p>Стандартные модели, в классическом дизайне, в стиле модерн. Кабинетные, салонные, концертные фортепиано. Большой выбор цветов и отделок, возможность заказать уникальный внешний вид фортепиано</p>
            </div>
            <div class="about-why__item">
                <div class="about-why__icon">
                    <img src="img/about-why/icon-6.png" alt="">
                </div>
                <h3>дополнительная Комплектация и сервисное обслуживание</h3>
                <p>Дополнительно, мы предоставляем годовое сервисное обслуживание для инструментов (помимо первичной настройки), а также все сопутствующие товары для комфортной игры на инструменте</p>
            </div>
        </div>
    </div>
</section>