<section class="additional">
    <div class="container">
        <div class="additional__top">
            <div class="additional__info">
                <h2 class="additional__title section-title">дополнительные системы</h2>
                <h3 class="additional__subtitle section-subtitle">расширьте возможности вашего фортепиано</h3>
                <img class="additional__icon--mob" src="img/additional/ph-mob.png" alt="">
                <div class="additional__items">
                    <div class="additional__item">
                        <h4 >добавьте возможности цифрового пианино</h4>
                        <p>Система AdSilent даёт возможность использовать основные функции цифрового пианино на акустическом. При этом вы можете использовать пианино или рояль в обычном режиме...</p>
                    </div>
                    <div class="additional__item">
                        <h4 >бережная защита вашего фортепиано</h4>
                        <p>Система климат-контроля сокращает колебания влажности воздуха и продлевает срок службы фортепиано, а также стабильность настройки...</p>
                    </div>
                    <div class="additional__item">
                        <h4 >самоиграющий рояль или пианино</h4>
                        <p>Система PianoDisc позволяет Вашему фортепиано играть самостоятельно, причем не только в одиночку, но и с аккомпанементом. На выбор предоставляется большая библиотека композиций...</p>
                    </div>
                </div>
            </div>
            <img class="additional__icon" src="img/additional/phone.png" alt="">
        </div>
        <h4 class="additional__title--mob mob section-title">про самоигровую систему piano disc</h4>
        <div class="additional__bottom">
            <div class="additional__img">
                <img src="img/additional/img.jpg" alt="">
            </div>
            <div class="additional__text">
                <h4>про самоигровую систему piano disc</h4>
                <h5>КВИНТЭССЕНЦИЯ ВИРТУОЗНОЙ ИМПРОВИЗАЦИИ И СОВРЕМЕННЫХ ТЕХНОЛОГИЙ</h5>
                <p>Универсальная система PianoDisc подходит для установки на любое пианино или рояль, принося его владельцу истинное наслаждение. Чистота и глубина звучания, динамика и экспрессия исполнения даёт безграничные возможности для воспроизведения более 5 000 музыкальных произведений разных жанров: от классики до блюза.</p>
            </div>
        </div>
        <div class="center">
            <a href="#" class="additional__btn btn">подробнее про системы</a>
        </div>
    </div>
</section>