<section class="addsystems">
    <div class="container">
        <h2 class="addsystems__title section-title center">какие системы для фортепиано существует?</h2>
        <div class="addsystems__content">
            <div class="addsystems__text">
                <h3>самоигровая система pianodisc</h3>
                <p>Самоигровая система PianoDisc позволяет роялю или пианино играть самостоятельно, без помощи музыканта. Помимо звука самого фортепиано, из колонок высокого качества, которые идут в комплекте с системой, могут воспроизводится звуки струнных, ударных, духовых и даже вокал.
                </p>
                <p>Представьте, что Вы слушаете запись какого-нибудь музыкального произведения, но при этом звук фортепиано - настоящий, живой.</p>
                <p>Система управляется с помощью любого iOS-устройства (в комплекте к системе прилагается iPad).</p>
                <p>Расширенная библиотека системы насчитывает около 5000 композиций самых разных жанров, начиная от музыки эпохи классицизма и заканчивая хитами 2000-х годов.</p>
                <div class="addsystems__more">
                    <img src="img/svg/music-library.svg" alt="">
                    <span class="addsystems__caption">мы дарим расширенную библиотеку из 5000 композиций вместе с приобретением системы</span>
                </div>
            </div>
            <div class="addsystems__img">
                <img src="img/addsystems/Frame.png" alt="">
            </div>
        </div>
        <div class="addsystems__more--mob">
            <img src="img/svg/music-library.svg" alt="">
            <span class="addsystems__caption">мы дарим расширенную библиотеку из 5000 композиций вместе с приобретением системы</span>
        </div>
        <h3 class="center">демонстрация самоигровой системы</h3>
        <div class="addsystems__video">
            <iframe src="https://www.youtube.com/embed/PdvvQ1SgPV0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
        <div class="addsystems__bottom">
            <p>Система PianoDisc никак не влияет на основные возможности Вашего фортепиано. Вы также свободно сможете музицировать на своем инструменте, при этом качество звука и чуткость клавиатуры никуда не исчезнут и останутся на том же уровне.</p>
            <p>Установка данной системы требует высокой квалификации мастера. Мы настоятельно рекомендуем заказывать и устанавливать данную систему только у официальных дистрибьюторов. Салон PIANOS дает официальную гарантию на все типы систем, а также гарантирует качество выполняемых работ.</p>
        </div>
    </div>
</section>









