<section class="answer">
    <img src="img/answer/bg.png" alt="" class="answer__bg">
    <img src="img/answer/bg-mob.png" alt="" class="answer__bg-mob">
    <div class="container">
        <div class="answer__body">
            <div class="answer__info">
                <h2 class="answer__title section-title">нужен ответ эксперта на ваш вопрос?</h2>
                <h3 class="answer__subtitle section-subtitle">ВЫ МОЖЕТЕ ЗАДАТЬ ЕГО ЗДЕСЬ</h3>
                <form action="">
                    <span class="answer__caption">Ваш вопрос:</span>
                    <textarea class="answer__textarea"></textarea>
                </form>
                <p class="answer__text">Не беспокойтесь, мы никуда не передаем Ваши данные. Они нужны исключительно для связи с Вами.</p>
            </div>
            <form action="#" class="answer-form">
                <div class="answer-form__group">
                    <span class="answer-form__label">Телефон*</span>
                    <input type="text" class="answer-form__input" placeholder="+7 (***) *** ** **">
                </div>
                <div class="answer-form__group">
                    <span class="answer-form__label">Имя</span>
                    <input type="text" class="answer-form__input" placeholder="Иван">
                </div>
                <div class="answer-form__group">
                    <span class="answer-form__label">Электронная почта</span>
                    <input type="text" class="answer-form__input" placeholder="123@gmail.com">
                </div>
                <div class="answer-form__group">
                    <span class="answer-form__label">Когда Вам будет удобно, чтобы мы перезвонили?</span>
                    <input type="text" class="answer-form__input" placeholder="с 18 до 20 часов">
                </div>
                <span class="answer-form__text">*поле обязательно для заполнения</span>
                <div class="center">
                    <button type="submit" class="answer-form__btn btn">задать вопрос</button>
                </div>
                <p class="answer__text answer__text--mob">Не беспокойтесь, мы никуда не передаем Ваши данные. Они нужны исключительно для связи с Вами.</p>
            </form>
        </div>
    </div>
</section>