<section class="consultation">
    <div class="container">
        <div class="consultation__body">
            <div class="consultation__img"></div>
            <form action="#" method="post" class="consultation__form questions-form">
                <div class="center">
                    <h2 class="questions__title section-title">консультация и заказ услуги</h2>
                    <p class="consultation__desc questions__text">Вы можете оставить заявку для заказа услуги, либо для получения консультации и более подробной информации. Менеджер свяжется с Вами.</p>
                </div>
                <div class="questions-form__group">
                    <label for="#">Телефон*</label>
                    <input class="questions-form__input" type="tel" placeholder="+7 (***) *** ** **">
                </div>
                <div class="questions-form__group">
                    <label for="#">Имя</label>
                    <input class="questions-form__input" type="text" placeholder="Иван">
                </div>
                <div class="questions-form__group">
                    <label for="#">Из какого города Вы к нам обращаетесь?</label>
                    <input class="questions-form__input" type="text" placeholder="Алматы">
                </div>
                <div class="questions-form__group">
                    <label for="#">Какой у Вас инструмент?</label>
                    <input class="questions-form__input" type="text" placeholder="рояль Петроф">
                </div>
                <span>*поле обязательно для заполнения</span>
                <div class="consultation__checkbox custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__input">
                    <span class="custom-checkbox__text">фортепиано приобретено в салоне PIANOS</span>
                </div>
                <div class="center">
                    <button class="questions-form__btn btn" type="submit">получить консультацию</button>
                </div>
                <div class="consultation__text">
                    <p>Ваши данные нужны исключительно для контакта с Вами. Мы не передаем их третьим лицам.</p>
                    <p>Вы можете не указывать подробную информацию о себе, достаточно заполнить номер телефона.</p>
                    <p>Более подробная информация будет полезна менеджеру для точной консультации.</p>
                </div>
            </form>
            <div class="consultation__img--mob"></div> 
        </div>
    </div>
</section>




