<section class="contacts">
    <div class="contacts__inner">
        <div class="contacts__maps">
            <div class="map map_1 active" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/pianos/61258286115/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Pianos</a><a href="https://yandex.ru/maps/162/almaty/category/music_store/184105910/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Музыкальный магазин в Алматы</a><a href="https://yandex.ru/maps/162/almaty/category/music_schools/184105912/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Музыкальное образование в Алматы</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUjyMaL1B" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
            <div class="map map_2" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/hilton_astana/48899539361/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Hilton Astana</a><a href="https://yandex.ru/maps/163/astana/category/hotel/184106414/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гостиница в Астане</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUjyYsltD" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        <div class="contacts__text">
            <h2 class="contacts__title section-title">Контакты</h2>
            <ul class="contacts__tabs">
                <li class="contacts__tabs-btn active">Алматы</li>
                <li class="contacts__tabs-btn">Нур-Султан (Астана)</li>
            </ul>
            <div class="contacts__body">
                <div class="contacts__content active">
                    <address class="contacts__address">Салон "PIANOS", 2-ой этаж ТРЦ "Esentai Mall" на Аль-Фараби 77/8</address>
                    <a href="tel:+ 7 727 317 95 07" class="contacts__tel">+ 7 727 317 95 07</a>
                    <a href="tel:+ 7 708 107 85 07" class="contacts__tel">+ 7 708 107 85 07</a>
                    <a href="tel:+ 7 700 107 85 07" class="contacts__tel">+ 7 700 107 85 07</a>
                    <a href="mailto:almaty@pianos.kz" class="contacts__email">almaty@pianos.kz</a>
                </div>
                <div class="contacts__content">
                    <address class="contacts__address">Hilton Astana на Cауран 46</address>
                    <a href="tel:+ 7 727 317 95 07" class="contacts__tel">+ 7 727 317 95 07</a>
                    <a href="tel:+ 7 708 107 85 07" class="contacts__tel">+ 7 708 107 85 07</a>
                    <a href="tel:+ 7 700 107 85 07" class="contacts__tel">+ 7 700 107 85 07</a>
                    <a href="mailto:almaty@pianos.kz" class="contacts__email">almaty@pianos.kz</a>
                </div>
                <a href="" class="contacts__btn btn">Связаться с менеджером</a>
                <span>Работаем в Казахстане, Азербайджане и Узбекистане</span>
                <a href="mailto:info@pianos.kz" class="contacts__email">info@pianos.kz</a>
            </div>
        </div>
    </div>
    <div class="contacts__copy">&copy; 2010-2021 PIANOS ПИАНИНО И РОЯЛИ</div>
</section>