<section class="custom-about">
    <div class="container">
        <h2 class="custom-about__title section-title center">как это происходит?</h2>
        <div class="custom-about__inner">
            <div class="custom-about__text">
                <p>Покупая пианино или рояль в нашем салоне, мы производим первичную настройку инструмента после доставки.</p>
                <p>Настройку производит высококвалифицированный специалист, качество первичного обслуживания гарантировано.</p>
                <p>Далее, пианино/рояль требует регулярного обслуживания, при регулярном среднем использовании, самый оптимальный интервал - сервисные работы раз в квартал (3 месяца).</p>
                <p>Для Вашего комфорта, мы предлагаем пакетное сервисное обслуживание Вашего инструмента, сроком на 1 год*, которое полностью закрывает вопрос грамотного ухода за инструментом.</p>
                <span>*по желанию, договор можно продлить на более длительный срок</span>
            </div>
            <div class="custom-about__images">
                <img src="img/custom-about/Frame.png" alt="" class="custom-about__img">
                <img src="img/custom-about/Frame-mob.png" alt="" class="custom-about__img--mob">
            </div>
        </div>
    </div>
</section>
