<section class="custom-service">
    <img src="img/page-section/bg-custom-service.png" alt="" class="custom-service__bg">
    <img src="img/page-section/bg-mob-cs-service.png" alt="" class="custom-service__bg--mob">
    <div class="container">
        <h2 class="custom-service__title section-title center">как выглядит сервисное обслуживание от нас?</h2>
        <div class="custom-service__inner">
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/safety.svg" alt="">
                </div>
                <p class="custom-service__desc">гарантируем качество предоставляемых услуг. Мы работаем с высоковалифицированными мастерами, которые имеют большой опыт работы</p>
            </div>
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/tuning.svg" alt="">
                </div>
                <p class="custom-service__desc">проводим настройку по концертному стандарту, в камертон. Выравниваем чистоту звучания инструмента</p>
            </div>
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/schedule.svg" alt="">
                </div>
                <p class="custom-service__desc">разрабатываем удобный для Вас график визитов мастера (ориентировочно - раз в квартал), согласовываем с Вами время в канун каждого визита</p>
            </div>
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/adjustment.svg" alt="">
                </div>
                <p class="custom-service__desc">по необходимости, проводим регулировку всего механизма фортепиано, для сохранения чуткости и отзывчивости инструмента</p>
            </div>
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/diagnostic.svg" alt="">
                </div>
                <p class="custom-service__desc">проводим общую диагностику состояния инструмента. Даем рекомендации по правильному уходу за ним в отсутствие мастера</p>
            </div>
            <div class="custom-service__item">
                <div class="custom-service__icon">
                    <img src="img/svg/cleaning.svg" alt="">
                </div>
                <p class="custom-service__desc">проводим комплексную профессиональную чистку Вашего фортепиано*</p>
            </div>
        </div>
        <span class="custom-service__text">*внимание - самостоятельно проводчить какие-либо внутренние работы с инструментом противопоказано. Это может повлечь за собой повереждения и аннулирование гараdesc</span>
    </div>
</section>