<section class="docs">
    <div class="container">
        <div class="docs__top">
            <img src="img/docs/official.png" alt="">
            <h2 class="section-title">официальные документы от фабрик-изготовителей</h2>
        </div>
        <p>Здесь представлены официальные документы, подписанные представителями фабрик, с которыми мы сотрудничаем. Все модели пианино и роялей которые мы привозим из Европы подтверждаются сертификатами качества, числятся на официальной гарантии и имеют свои документы (паспорт инструмента, серийный номер).</p>
        <div class="docs__inner">
            <div class="docs__item">
                <h3>письмо от petrof</h3>
                <a href="">
                    <img src="img/docs/img-1.jpg" alt="">
                </a>
            </div>
            <div class="docs__item">
                <h3>письмо от schimmel</h3>
                <a href="">
                    <img src="img/docs/img-1.jpg" alt="">
                </a>
            </div>
            <div class="docs__item">
                <h3>письмо от c.bechstein</h3>
                <a href="">
                    <img src="img/docs/img-1.jpg" alt="">
                </a>
            </div>
            <div class="docs__item">
                <h3>письмо от august forster</h3>
                <a href="">
                    <img src="img/docs/img-1.jpg" alt="">
                </a>
            </div>
            <div class="docs__item">
                <h3>письмо от fazioli</h3>
                <a href="">
                    <img src="img/docs/img-1.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>