<section class="media">
    <div class="container">
        <h2 class="media__title section-title">Пресса о нас</h2>
        <div class="media__box">
            <div class="media__logos">
                <div class="media__logo">
                    <img src="img/media/logo-1.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-2.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-3.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-4.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-5.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-6.png" alt="">
                </div>
                <div class="media__logo">
                    <img src="img/media/logo-7.png" alt="">
                </div>
            </div>
        </div>
        <h2 class="media__title--two section-title">Лучшая рекомендация</h2>
        <h3 class="media__subtitle section-subtitle">БЛАГОДАРСТВЕННЫЕ ПИСЬМА ОТ НАШИХ КЛИЕНТОВ</h3>
        <div class="media__body">
            <div class="media__item">
                <img src="img/media/icon-1.png" alt="" class="media__icon">
                <div class="media__info">
                    <h4 class="media__caption">Haileybury Almaty</h4>
                    <p class="media__text">Настоящим письмом выражаем благодарность коллективу компании за индивидуальный подбор при выборе инструмента , а также соблюдение сроков поставки рояля и проведение работ по сборке и настройке...</p>
                    <a href="" class="media__link">Подробнее</a>
                </div>
            </div>
            <div class="media__item">
                <img src="img/media/icon-2.png" alt="" class="media__icon">
                <div class="media__info">
                    <h4 class="media__caption">Индерская детская школа искусств</h4>
                    <p class="media__text">Компания зарекомендовала себя надёжным поставщиком, ориентированным на клиентов и на оказание им услуг высокого качества...</p>
                    <a href="" class="media__link">Подробнее</a>
                </div>
            </div>
            <div class="media__item">
                <img src="img/media/icon-3.png" alt="" class="media__icon">
                <div class="media__info">
                    <h4 class="media__caption">Специализированная музыкальная школа-интернат</h4>
                    <p class="media__text">Мы выражаем большую благодарность менеджерам по продажам за профессиональную, квалифицированную работу...</p>
                    <a href="" class="media__link">Подробнее</a>
                </div>
            </div>
            <div class="media__item">
                <img src="img/media/icon-4.png" alt="" class="media__icon">
                <div class="media__info">
                    <h4 class="media__caption">Школа искусств г. Балхаш</h4>
                    <p class="media__text">Следует отметить своевременность выполнения заказа, внимательное отношения к пожеланиям клиента и качество доставки товара...</p>
                    <a href="" class="media__link">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>