<section class="news">
    <img src="img/news/bg.png" alt="" class="news__bg">
    <img src="img/news/bg-mob.png" alt="" class="news__bg--mob">
    <div class="container">
        <div class="center">
            <h2 class="news__title section-title">новостной блог</h2>
            <h3 class="news__subtitle section-subtitle">будьте в курсе новостей музыкального мира</h3>
        </div>
        <div class="news__body">
            <div class="news__item">
                <div class="news__img">
                    <img src="img/news/img-1.jpg" alt="">
                </div>
                <div class="news__content">
                    <div class="news__caption">Святилище Амазонок</div>
                    <a href="" class="news__link">Путешествие в земли междуморья Каспия и Арала</a>
                    <div class="news__meta">11.05.2021 | 12844 просмотра</div>
                </div>
            </div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/news/img-2.jpg" alt="">
                </div>
                <div class="news__content">
                    <div class="news__caption">10 лет “нужной” музыки</div>
                    <a href="" class="news__link">Почему так важно посещать концерты классической музыки?</a>
                    <div class="news__meta">11.05.2021 | 12844 просмотра</div>
                </div>
            </div>
            <div class="news__item">
                <div class="news__img">
                    <img src="img/news/img-3.jpg" alt="">
                </div>
                <div class="news__content">
                    <div class="news__caption">“18 КгЦ”</div>
                    <a href="" class="news__link">Новая картина Фархада Шарипова</a>
                    <div class="news__meta">11.05.2021 | 12844 просмотра</div>
                </div>
            </div>
        </div>
        <div class="center">
            <a href="#" class="news__btn btn">перейти в раздел “новости”</a>
        </div>
    </div>
</section>



