<section class="noiselessly">
    <img src="img/page-section/bg-noiselessly.png" alt="" class="noiselessly__bg">
    <img src="img/noiselessly/bg-mob.png" alt="" class="noiselessly__bg--mob">
    <div class="container">
        <div class="noiselessly__inner">
            <div class="noiselessly__logo center">
                <img src="img/noiselessly/logo.png" alt="">
            </div>
            <h2>система бесшумной игры</h2>
            <p>Система AdSilent (в отдельных случаях она может называться по-другому) - это система, которая добавляет основные возможности цифрового фортепиано в акустическое фортепиано. При этом, у Вас остается возможность играть на своем инструменте и слушать акустическое звучание, т.к после установки системы, у Вашего пианино или рояля появятся 2 режима: цифровой, и акустический.</p>
            <p>С этой системой, Вы сможете:</p>
            <p> 
                - по необходимости “заглушать” звук своего фортепиано и играть в наушниках, не отвлекая окружающих
                - подключать системы вместе с фортепиано к другим устройствам, по желанию - подключить колонки
                - выбирать звуки, в библиотеке содержится около 127 различных тембров звука (струнные, духовые, ударные, и.т.д.)
                - легко управлять системой с помощью приложения (поддерживаются Android и iOS), соединение с которым происходит через BLuetooth
            </p>
            <div class="noiselessly__grid">
                <div class="noiselessly__img">
                    <img src="img/noiselessly/img-1.jpg" alt="">
                </div>
                <div class="noiselessly__img">
                    <img src="img/noiselessly/img-2.jpg" alt="">
                </div>
                <div class="noiselessly__img noiselessly__img--big">
                    <img src="img/noiselessly/img-3.jpg" alt="">
                </div>
            </div>
            <div class="noiselessly__video">
                <h2>обзор пианино petrof с системой adsilent</h2>
                <iframe src="https://www.youtube.com/embed/XairFbmmtZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>




