<section class="partners">
    <div class="container">
        <h2 class="partners__title section-title">о фабриках, с которыми мы работаем</h2>
        <div class="partners__inner">
            <div class="partners__slider partners__slider-1 swiper">
                <img src="img/partners/logo-1.png" alt="" class="partners__logo" style="position: relative; z-index: 2;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="partners__text">
                            <p>Фортепиано PETROF производятся с 1864 года в городе Градец-Кралов,  в Чешской Республике. Предприятие до сих пор управляется представителями семьи Петрофовых, бережно хранящей традиции производства фортепиано. В 2007 году компания PETROF получила сертификат EEX, который с того периода является в форме печати частью всех инструментов. Демонстрирует европейское происхождение и высочайшего качества материалы.</p>
                            <p>PETROF особенно популярны среди музыкантов, которые ценят необычно мягкий, нежный, плавный и романтический звук. В течение многих десятилетий производства многое изменилось, но точная ручная работа, тщательный отбор материалов и совершенный романтический звук сохранился.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__text">
                            <p>Фортепиано PETROF производятся с 1864 года в городе Градец-Кралов,  в Чешской Республике. Предприятие до сих пор управляется представителями семьи Петрофовых, бережно хранящей традиции производства фортепиано. В 2007 году компания PETROF получила сертификат EEX, который с того периода является в форме печати частью всех инструментов. Демонстрирует европейское происхождение и высочайшего качества материалы.</p>
                            <p>PETROF особенно популярны среди музыкантов, которые ценят необычно мягкий, нежный, плавный и романтический звук. В течение многих десятилетий производства многое изменилось, но точная ручная работа, тщательный отбор материалов и совершенный романтический звук сохранился.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__slider partners__slider-2 swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/partners/logo-2.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>Компания FAZIOLI занимается производством роялей и концертных фортепиано с момента своего основания в 1981 году по инициативе инженера и пианиста Паоло Фациоли.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/partners/logo-2.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>Компания FAZIOLI занимается производством роялей и концертных фортепиано с момента своего основания в 1981 году по инициативе инженера и пианиста Паоло Фациоли.</p>
                            <p>Любовь к музыке и глубокие научные знания, уникальное ремесленное мастерство, непрерывные технологические исследования и тщательный отбор материалов-это необходимые условия для производства роялей этой фирмы. FAZIOLI отказывается от любой логики промышленного производства и ставит своей целью достижения  бескомпромиссного качества. Предприятие расположено в 60 км к северо-востоку от Венеции в городе Сачиле (провинция Порденоне), в области, которая славится своими старинными традициями деревообработки.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__slider partners__slider-3 swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/partners/logo-3.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>Bechstein - эксклюзивное качество с 1853 года. История этой немецкой фабрики летописью успеха на фоне эпох и событий. Инструменты C. Bechstein отличаются замечательным характерным профилем звучания и высокопрофессиональным игровым механизмом.</p>
                            <p>Непревзойденные фортепиано для самых притязательных. Многие пианисты считают их идеальными. Совершенная механика чутко реагирует на любой нюанс. </p>
                            <p>Рояли C. Bechstein можно увидеть на концертных площадках, в консерваторских стенах и в домашних музыкальных салонах. Везде, где раздаются чарующие звуки музыки.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/partners/logo-3.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>Bechstein - эксклюзивное качество с 1853 года. История этой немецкой фабрики летописью успеха на фоне эпох и событий. Инструменты C. Bechstein отличаются замечательным характерным профилем звучания и высокопрофессиональным игровым механизмом.</p>
                            <p>Непревзойденные фортепиано для самых притязательных. Многие пианисты считают их идеальными. Совершенная механика чутко реагирует на любой нюанс. </p>
                            <p>Рояли C. Bechstein можно увидеть на концертных площадках, в консерваторских стенах и в домашних музыкальных салонах. Везде, где раздаются чарующие звуки музыки.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__slider partners__slider-4 swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/partners/logo-4.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>August Forster производит фортепиано с 1859 года, в городе Лебау, в Германии.</p>
                            <p>Инструменты на 100 процентов изготавливаются в Германии, что подтверждается сертификатом “Союза немецких производителей фортепиано” и каждый из них это плод тщательной, очень длительной ручной работы, именно поэтому фабрика, несмотря на всемирную известность и признание производит не более 100-120 инструментов в год, каждый из которых уникален по своим звуковым характеристикам.
                            </p>
                            <p>Инструменты August Forster идеальны в соотношении цена/качества, практически ничем не уступая мировым лидерам фортепиано строения. </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="img/partners/logo-4.png" alt="" class="partners__logo">
                        <div class="partners__text">
                            <p>August Forster производит фортепиано с 1859 года, в городе Лебау, в Германии.</p>
                            <p>Инструменты на 100 процентов изготавливаются в Германии, что подтверждается сертификатом “Союза немецких производителей фортепиано” и каждый из них это плод тщательной, очень длительной ручной работы, именно поэтому фабрика, несмотря на всемирную известность и признание производит не более 100-120 инструментов в год, каждый из которых уникален по своим звуковым характеристикам.
                            </p>
                            <p>Инструменты August Forster идеальны в соотношении цена/качества, практически ничем не уступая мировым лидерам фортепиано строения. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__slider partners__slider-5 swiper">
                <img src="img/partners/logo-5.png" alt="" class="partners__logo">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="partners__text">
                            <p>Фабрика Schimmel основана в 1885 году, в немецком городе Брауншвейг. Сегодня, посетив фабрику Schimmel, невозможно не обратить внимание на то, что ручная работа всюду сочетается с операциями, управляемыми электроникой. С помощью современных устройств осуществляется высверливание отверстий с точностью до микрометра. Все резные работы и инкрустация по сей день выполняются вручную.</p>
                            <p>Фабрика Schimmel выпускает 4 линейки инструментов, все они отличаются по уровню и звуковым характеристикам</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="partners__text">
                            <p>Фабрика Schimmel основана в 1885 году, в немецком городе Брауншвейг. Сегодня, посетив фабрику Schimmel, невозможно не обратить внимание на то, что ручная работа всюду сочетается с операциями, управляемыми электроникой. С помощью современных устройств осуществляется высверливание отверстий с точностью до микрометра. Все резные работы и инкрустация по сей день выполняются вручную.</p>
                            <p>Фабрика Schimmel выпускает 4 линейки инструментов, все они отличаются по уровню и звуковым характеристикам</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






