<section class="pianist">
    <img src="img/page-section/bg-pianist.png" alt="" class="pianist__bg">
    <img src="img/page-section/pian-mob.png" alt="" class="pianist__bg--mob">
    <div class="container">
        <h2 class="section-title">услуги пианиста</h2>
        <p class="pianist__subtitle">Дополнительно, мы предлагаем услуги профессионального пианиста для игры на мероприятиях любого формата:</p>
        <div class="pianist__body">
            <div class="pianist__item pianist__item--1">
                <img src="img/svg/notes.svg" alt="">
                <p>набор произведений, от <br> классики до лаунджа</p>
            </div>
            <div class="pianist__item pianist__item--2">
                <img src="img/svg/checklist.svg" alt="">
                <p>подбор и составление репертуара под Ваше мероприятие</p>
            </div>
            <div class="pianist__item pianist__item--3">
                <img src="img/svg/music.svg" alt="">
                <p>выступление в ансамбле (обговаривается индивидуально)</p>
            </div>
        </div>
    </div>
</section>