<section class="piano-care">
    <div class="container">
        <div class="piano-care__inner">
            <div class="piano-care__images">
                <img src="img/piano-care/logo.png" alt="" class="piano-care__img piano-care__img--one">
                <img src="img/piano-care/img-1.png" alt="" class="piano-care__img piano-care__img--two">
                <img src="img/piano-care/img-2.png" alt="" class="piano-care__img piano-care__img--three">
            </div>
            <div class="piano-care__content">
                <h2 class="section-title">система климат-контроля, Уход за пианино и роялями</h2>
                <div class="piano-care__text">
                    <p>Уход за пианино/роялем очень важен. Фортепиано по большей части состоит из дерева и очень чутко реагирует на изменения температуры и влажности в помещении. </p>
                    <p>Чем стабильнее уровень влажности и температуры - тем дольше фортепиано будет исправно Вам служить и держать строй. Особенно важен уровень влажности, который обычно ниже рекомендуемого.</p>
                    <p>Система <b>LifeSaver</b> регулирует уровень влажности внутри самого инструмента, ближе всего к самым жизненно важным деталям конструкции. Это положительно скажется на работе инструмента:</p>
                    <p> 
                        - продлится срок службы фортепиано
                        - продлится стабилность настройки
                        - улучшится стабильность работы механики
                        - отпадет риск разбухания или рассыхания деталей инструмента
                    </p>
                </div>
                <div class="piano-care__important">
                    <h3>ВАЖНО!</h3>
                    <p>Даже после установки этой системы необходимо соблюдать рекомендации по внешнему уходу за инструментом. Наши специалисты также смогут проконсультировать Вас по уходу за Вашим пианино или роялем.</p>
                </div>
                <div class="piano-care__text">
                    <p>Система климат-контроля никак не влияет на звук или четкость работы механики. Установка данной системы необязательна, но крайне желательна, особенно в условиях Казахстанского климата. Мы производим квалифицированную установку системы и даем гарантию на все комплектующие.</p>
                    <p>По всем дополнительным вопросам Вы можете обратиться к нам в салон - менеджер подробно Вас проконсультирует.</p>
                </div>
            </div>
        </div>
    </div>
</section>








