<section class="popular">
    <img src="img/popular/bg.png" alt="" class="popular__bg">
    <img src="img/popular/bg-mob.png" alt="" class="popular__bg--mob">
    <div class="container">
        <h2 class="popular__title section-title">Популяризация живой музыки</h2>
        <h3 class="popular__subtitle section-subtitle">мероприятия, организуемые нашим салоном</h3>
        <div class="popular__box">
            <button class="popular__switch slider-switch popular__switch--prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="popular__switch slider-switch popular__switch--next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </button>
            <div class="popular__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/popular/img-1.jpg" alt="" class="popular__img">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/popular/img-2.jpg" alt="" class="popular__img">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/popular/img-3.jpg" alt="" class="popular__img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>