<div class="popup popup__one" id="popup_1">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </a>
            <div class="center">
                <h2 class="popup__title">ОСТАВЬТЕ ЗАПРОС</h2>
                <h3 class="popup__subtitle">МЫ ПЕРЕЗВОНИМ И ПРОКОНСУЛЬТИРУЕМ ВАС</h3>
            </div>
            <form action="" class="popup-form">
                <div class="popup-form__group">
                    <label for="formName" class="popup-form__label">Ваше имя:</label>
                    <input type="text" class="popup-form__input" placeholder="Руслан">
                </div>
                <div class="popup-form__group">
                    <label for="formTel" class="popup-form__label">Ваш телефон:</label>
                    <input type="tel" class="popup-form__input" placeholder="+7 (***) *** ** **">
                </div>
                <div class="popup-form__group">
                    <label for="formEmail" class="popup-form__label">e-mail (необязательно):</label>
                    <input type="email" class="popup-form__input" placeholder="12345@pochta.ru">
                </div>
                <div class="popup-form__group">
                    <label for="formQues" class="popup-form__label">Ваш вопрос (необязательно):</label>
                    <input type="text" class="popup-form__input" placeholder="Чем новое пианино отличается от б/у или цифрового?">
                </div>
                <div class="popup-form__footer">
                    <button class="popup-form__btn btn" type="submit">ОТПРАВИТЬ ЗАЯВКУ*</button>
                    <p class="popup-form__text">*мы никуда не передаем Ваши данные, они используются исключительно нашими менеджерами для связи с Вами.</p>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup popup__two" id="popup_2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close close-popup">
                <svg>
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </a>
            <div class="center">
                <h2 class="popup__title">МЫ ПЕРЕЗВОНИМ ВАМ</h2>
            </div>
            <form action="" class="popup-form">
                <div class="popup-form__group">
                    <label for="formName" class="popup-form__label">Ваше имя:</label>
                    <input type="text" class="popup-form__input" placeholder="Имя">
                </div>
                <div class="popup-form__group">
                    <label for="formTel" class="popup-form__label">Ваш телефон:</label>
                    <input type="tel" class="popup-form__input" placeholder="+7 (***) *** ** **">
                </div>
                <div class="popup-form__footer">
                    <button class="popup-form__btn btn" type="submit">ЗАКАЗАТЬ ЗВОНОК*</button>
                    <p class="popup-form__text">*мы никуда не передаем Ваши данные, они используются исключительно нашими менеджерами для связи с Вами.</p>
                </div>
            </form>
        </div>
    </div>
</div>