<section class="products">
    <div class="container">
        <h2 class="products__title section-title center">интернет-магазин pianos</h2>
        <nav class="products__menu">
            <ul class="products__menu-list">
                <li>
                    <a href="" class="products__menu-link">Пианино</a>
                    <svg class="products__arrow arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Пианино Schimmel</a></li>
                        <li><a href="#" class="products__submenu-link">Пианино PETROF</a></li>
                        <li><a href="#" class="products__submenu-link">Пианино Weinbach</a></li>
                        <li><a href="#" class="products__submenu-link">Пианино C.Bechstein</a></li>
                        <li><a href="#" class="products__submenu-link">Пианино August Forster</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Рояли</a>
                    <svg class="products__arrow arrow"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                        style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                        <g>
                            <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                            L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                            C342.889,227.058,342.889,216.255,336.226,209.591z" />
                        </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Рояли August Forster</a></li>
                        <li><a href="#" class="products__submenu-link">Рояли С.Bechstein</a></li>
                        <li><a href="#" class="products__submenu-link">Рояли PETROF</a></li>
                        <li><a href="#" class="products__submenu-link">Рояли Schimmel</a></li>
                        <li><a href="#" class="products__submenu-link">Рояли Weinbach</a></li>
                        <li><a href="#" class="products__submenu-link">Рояли FAZIOLI</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Банкетки к фортепиано</a>
                    <svg class="products__arrow arrow"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Банкетки Stagg</a></li>
                        <li><a href="#" class="products__submenu-link">Банкетки Discacciati</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Дополнительные системы</a>
                    <svg class="products__arrow arrow"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Самоигровая система</a></li>
                        <li><a href="#" class="products__submenu-link">Система климат-контроля</a></li>
                        <li><a href="#" class="products__submenu-link">Система бесшумной игры</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Аренда пианино и роялей</a>
                    <svg class="products__arrow arrow"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Посуточная аренда</a></li>
                        <li><a href="#" class="products__submenu-link">Аренда под занятия</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Уроки музыки</a>
                    <svg class="products__arrow arrow"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Уроки фортепиано</a></li>
                        <li><a href="#" class="products__submenu-link">Уроки вокала</a></li>
                        <li><a href="#" class="products__submenu-link">Уроки саксофона</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="products__menu-link">Настройка фортепиано</a>
                </li>
                <li>
                    <a href="" class="products__menu-link">Мерч</a>
                    <svg class="products__arrow arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 443.52 443.52"
                            style="enable-background:new 0 0 443.52 443.52;" xml:space="preserve">
                            <g>
                                <path d="M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734
                                L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8
                                C342.889,227.058,342.889,216.255,336.226,209.591z" />
                            </g>
                    </svg>
                    <ul class="products__submenu-list">
                        <li><a href="#" class="products__submenu-link">Худи</a></li>
                        <li><a href="#" class="products__submenu-link">Шопперы</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="products__inner">
            <div class="products__info">
                <div class="products__text">
                    <h3 class="products__subtitle">каталог</h3>
                    <p class="products__text">В каталоге нашего магазина Вы сможете выбрать и купить пианино онлайн. А также, приобрести к нему банкетку, дополнительные системы и оформить сервисное обслуживание для Вашего инструмента.</p>
                </div>
                <h3 class="products__subtitle">наши бренды</h3>
                <div class="products__logos">
                    <div class="products__logo">
                        <img src="img/products/logo-1.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-2.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-3.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-4.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-5.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-6.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-7.png" alt="">
                    </div>
                    <div class="products__logo">
                        <img src="img/products/logo-8.png" alt="">
                    </div>
                </div>
            </div>
            <div class="products__box">
                <div class="products__catalog catalog">
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-1.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Petrof P125 K1, Чёрный глянец</h4>
                            <div class="catalog__price">6.475.136 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-2.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel W123 Tradition, чёрный</h4>
                            <div class="catalog__price">5.023.289 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-3.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel W118 Tradition, чёрный</h4>
                            <div class="catalog__price">4.289.778 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-4.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel W114 Tradition, чёрный</h4>
                            <div class="catalog__price">3.920.493 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-5.png" alt="">
                        </div>
                        
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel W114 Modern Swing, чёрный</h4>
                            <div class="catalog__price">3.920.493 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-6.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel W114 Modern, чёрный</h4>
                            <div class="catalog__price">4.122.841 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-7.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Petrof P 118 C1, черный</h4>
                            <div class="catalog__price">6.419.490 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-8.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Schimmel F121 T, белый</h4>
                            <div class="catalog__price">2.782.285 KZT</div>
                        </div>
                    </a>
                    <a href="" class="catalog__item">
                        <div class="catalog__img">
                            <img src="img/products/prod-9.png" alt="">
                        </div>
                        <div class="catalog__text">
                            <h4 class="catalog__title">Petrof P 135 K1, белый</h4>
                            <div class="catalog__price">10.011.167 KZT</div>
                        </div>
                    </a>
                </div>
                <div class="products__pag">
                    <a href="" class="products__pag-item products__pag-item--active">1</a>
                    <a href="" class="products__pag-item">2</a>
                    <a href="" class="products__pag-item">3</a>
                    <a href="" class="products__pag-item">4</a>
                    <a href="" class="products__pag-item">5</a>
                    <a href="" class="products__pag-item">...</a>
                    <a href="" class="products__pag-item">6</a>
                </div>
            </div>
        </div>
        
    </div>
</section>

