<section class="purchase">
    <img src="img/purchase/bg.png" alt="" class="purchase__bg">
    <img src="img/purchase/bg-mob.png" alt="" class="purchase__bg--mob">
    <div class="container">
        <h2 class="purchase__title section-title">Приобретите</h2>
        <h3 class="purchase__subtitle section-subtitle">идеальное фортепиано для своих целей</h3>
        <div class="purchase__inner">
            <div class="purchase__item">
                <div class="purchase__count">01</div>
                <div class="purchase__text">
                    <h4>Получите подробную консультацию экспертов</h4>
                    <p>Менеджеры подробно проконсультируют Вас по всем вопросам и подскажут оптимальный вариант, исходя из Ваших пожеланий.</p>
                </div>
            </div>
            <div class="purchase__item">
                <div class="purchase__count">02</div>
                <div class="purchase__text">
                    <h4>Выберите одну из более чем 180-и моделей фортепиано</h4>
                    <p>Широкий выбор пианино и роялей на любой вкус и к любому интерьеру. Начиная от барокко и заканчивая модерном.
                    <br>
                    <br>
                    Большой выбор цветов и отделок. 
                    <br>
                    <br> 
                    Возможность заказать пианино с собственным <span>уникальным</span> цветом/отделкой.
                    </p>
                </div>
            </div>
            <div class="purchase__item">
                <div class="purchase__count">03</div>
                <div class="purchase__text">
                    <h4>Оплатите любым удобным для Вас способом</h4>
                    <p>
                        - наличными в наших салонах (Алматы и Нур-Султан)
                        <br>
                        <br>
                        - картой VISA/MasterCard
                        <br>
                        <br>
                        – через Kaspi QR/удаленная оплата
                        <br>
                        <br>
                        - безналичная оплата через банк для юридических и физических лиц
                    </p>
                </div>
            </div>
            <div class="purchase__item">
                <div class="purchase__count">04</div>
                <div class="purchase__text">
                    <h4>Мы произведем установку фортепиано “под ключ”</h4>
                    <p>
                        - доставка по Алматы и Нур-Султану (отдельно: по всем регионам Казахстана)
                        <br>
                        <br>
                        - правильная установка инструмента на месте
                        <br>
                        <br>
                        - первичная настройка инструмента после установки
                        <br>
                        <br>
                        - опционально: полное <span>сервисное</span> обслуживание <span>инструмента</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>