<section class="questions-systems">
    <img src="img/page-section/Frame.png" alt="" class="questions-systems__bg">
    <img src="img/page-section/bg-mob-qs.png" alt="" class="questions-systems__bg--mob">
    <div class="container">
        <div class="questions-systems__order">
            <h2 class="section-title">закажите системы для своего фортепиано</h2>
            <a href="" class="systems-order__btn btn" style="width: 100%;">онлайн-магазин pianos</a>
        </div>
        <div class="center">
            <h2 class="questions-systems__title section-title">ЕСТЬ ВОПРОСЫ ПО <br> ДОПОЛНИТЕЛЬНЫМ СИСТЕМАМ?</h2>
            <p class="questions-systems__subtitle questions__text">ВЫ МОЖЕТЕ ОСТАВИТЬ ЗАЯВКУ И СПЕЦИАЛИСТ ВАС ПРОКОНСУЛЬТИРУЕТ</p>
        </div>
        <div class="questions-systems__inner">
            <form action="#" method="post" class="questions-form">
                <div class="questions-form__group">
                    <label for="#">Телефон*</label>
                    <input class="questions-form__input" type="tel" placeholder="+7 (***) *** ** **">
                </div>
                <div class="questions-form__group">
                    <label for="#">Имя</label>
                    <input class="questions-form__input" type="text" placeholder="Иван">
                </div>
                <div class="questions-form__group">
                    <label for="#">Электронная почта</label>
                    <input class="questions-form__input" type="email" placeholder="123@gmail.com">
                </div>
                <div class="questions-form__group">
                    <label for="#">Когда Вам будет удобно, чтобы мы перезвонили?</label>
                    <input class="questions-form__input" type="text" placeholder="вечером, после 7">
                </div>
                <span>*поле обязательно для заполнения</span>
                <div class="center">
                    <button class="questions-form__btn btn" type="submit">получить консультацию</button>
                </div>
            </form> 
            <div class="questions-systems__text">
                <p>- при заказе любого инструмента с фабрики у Вас есть возможность сразу установить на него все системы (это также можно сделать позже)</p>
                <p>- мы даем гарантию на все системы, установку которых производим своими силами</p>
                <p>- Вы можете получить профессиональную консультацию по всем вопросам, связанным с фортепиано и дополниельными системами</p>
            </div>
        </div>
    </div>
</section>