<section class="questions">
    <img src="img/questions/bg-mob.jpg" alt="" class="questions__bg-mob">
    <div class="container">
        <div class="questions__inner">
            <form action="#" method="post" class="questions-form">
                <div class="center">
                    <h2 class="questions__title section-title">У ВАС ЕСТЬ вопросы?</h2>
                    <h3 class="questions__subtitle section-subtitle">МЫ С УДОВОЛЬСТВЕМ НА НИХ ОТВЕТИМ!</h3>
                    <p class="questions__text">Вы можете оставить свои данные и менеджер Вам перезвонит. Не беспокойтесь, мы никуда не передаем Ваши данные.</p>
                </div>
                <div class="questions-form__group">
                    <label for="#">Телефон*</label>
                    <input class="questions-form__input" type="tel" placeholder="+7 (***) *** ** **">
                </div>
                <div class="questions-form__group">
                    <label for="#">Имя</label>
                    <input class="questions-form__input" type="text" placeholder="Иван">
                </div>
                <div class="questions-form__group">
                    <label for="#">Электронная почта</label>
                    <input class="questions-form__input" type="email" placeholder="123@gmail.com">
                </div>
                <div class="questions-form__group">
                    <label for="#">Когда Вам будет удобно, чтобы мы перезвонили?</label>
                    <input class="questions-form__input" type="text" placeholder="вечером, после 7">
                </div>
                <span>*поле обязательно для заполнения</span>
                <div class="center">
                    <button class="questions-form__btn btn" type="submit">получить консультацию</button>
                </div>
            </form> 
        </div>
    </div>
</section>