<section class="rent-about">
    <div class="container">
        <h2 class="rent-about__title section-title center">для чего обычно нужны <br> пианино или рояль в аренду?</h2>
        <img src="img/rent-about/img.png" alt="" class="rent-about__img--mob">
        <div class="rent-about__inner">
            <div class="rent-about__text">
                <p>Аренда пианино или рояля может быть очень удобна для проведения различного рода мероприятий. Куда обычно может понадобиться фортепиано в аренду:</p>
                <p> - различного рода съемки. Очень часто необходим рояль для съемок какого-либо музыкального видео с живой игрой, проморолика, или просто для интерьера;</p>
                <p> - для концертов, когда необходим настоящий, акустический инструмент для музыканта, например, на один вечер;</p>
                <p> - для любых мероприятий, особенно это касается торжественных мероприятий. Например, рояль на свадьбу с приглашенным музыкантом - очень частый запрос.</p>
            </div>
            <img src="img/rent-about/img.png" alt="" class="rent-about__img">
        </div>
    </div>
</section>










