<section class="rent-self">
    <div class="container">
        <div class="rent-self__inner">
            <h2 class="section-title">самоиграющий рояль в аренду</h2>
            <div class="rent-self__img-mob"></div>
            <p>Дополнительно, мы предоставляем в аренду рояль с самоигровой системой. Рояль, оснащенный такой системой звучит как настоящий <b>live-band</b>, и помимо того, что сам рояль звучит без музыканта - он может себе аккомпанировать.</p>
            <p>Основные преимущества аренды с рояля с системой:</p>
            <p>
                - необязательно иметь музыканта, чтобы озвучить мероприятие или снять музыкальное видео
                - большой выбор мелодий, начиная от классики и заканчивая хитами 80-х
                - легкое подключение и управление системой, она абсолютно незаметна для окружающих
            </p>
        </div>
    </div>
</section>





