<section class="rent">
    <div class="container">
        <div class="rent__inner">
            <div class="rent__content">
                <h2 class="rent__title section-title">аренда пианино и роялей</h2>
                <p class="rent__subtitle section-subtitle">для съемок, концертов, презентаций и различного рода мероприятий.
                Мы предлагаем аренду пианино и роялей под ключ, на любой срок.</p>
                <img class="rent__img--mob" src="img/rent/img-mob.png" alt="">
                <h3 class="rent__caption">Аренда включает в себя:</h3>
                <div class="rent__services">
                    <div class="rent__service">Доставку</div>
                    <div class="rent__service">Страховку</div>
                    <div class="rent__service">Монтаж</div>
                </div>
                <p class="rent__text">Условия и стоимость аренды обговариваются индивидуально.</p>
                <p class="rent__text">Подробную информацию Вы можете узнать, перейдя в раздел:</p>
                <a href="#" class="rent__btn btn">подробнее про аренду</a>
            </div>
            <img class="rent__img" src="img/rent/img.png" alt="">
        </div>
    </div>
</section>


