<section class="rent-key">
    <img src="img/page-section/bg-custom-service.png" alt="" class="rent-key__bg">
    <img src="img/page-section/rent-key__bg-mob.png" alt="" class="rent-key__bg--mob">
    <div class="container">
        <h2 class="section-title center">у нас - аренда пианино и роялей под ключ!</h2>
        <h4>Заказывая аренду пианино или рояля в нашем салоне, Вы можете быть уверены в качестве предосталвяемых услуг. Мы осуществляем полное сопровождение.</h4>
        <h3 class="center">АРЕНДА ВКЛЮЧАЕТ В СЕБЯ:</h3>
        <div class="rent-key__inner">
            <div class="rent-key__item">
                <img src="img/svg/insurance-rent.svg" alt="">
                <h4>СТРАХОВКУ И ОФОРМЛЕНИЕ</h4>
                <p>Мы составляем и заключаем с Вами договор аренды, полностью берем на себя все обязательства по договору и гарантируем качество услуг с нашей стороны</p>
            </div>
            <div class="rent-key__item">
                <img src="img/svg/technical.svg" alt="">
                <h4>ТЕХ. ОБСЛУЖИВАНИЕ ПОСЛЕ УСТАНОВКИ</h4>
                <p>После установки фортепиано на месте - мы проведем диагностику, настройку и регулировку инструмента, для максимально комфортного использования</p>
            </div>
            <div class="rent-key__item">
                <img src="img/svg/delivery-rent.svg" alt="">
                <h4>ДОСТАВКУ И ЗАБОР ФОРТЕПИАНО</h4>
                <p>Мы осуществляем доставку и полную установку инструмента на нужном месте. После окончания срока аренды - обратная доставка инструмента также ложится на нас</p>
            </div>
        </div>
    </div>
</section>