<section class="service">
    <img src="img/service/bg.jpg" alt="" class="service__bg">
    <img src="img/service/bg-mob.png" alt="" class="service__bg-mob">
    <div class="container">
        <h2 class="center mob section-title" style="color: #fff;">настройка пианино и роялей</h2>
        <div class="service__body">
            <div class="service__info">
                <img src="img/service/camerton.png" alt="" class="service__img">
                <h2 class="service__title section-title">настройка пианино и роялей</h2>
            </div>
            <div class="service__content">
                <h3 class="service__subtitle section-subtitle">Сервисное сопровождение нашими настройщиками в течение года</h3>
                <p class="service__text">Первичная настройка производится специалистами после покупки фортепиано.</p>
                <p class="service__text">Дополнительно, Вы можете оформить сервисное обслуживание для своего инструмента.</p>
                <p class="service__text">Всю подробную информацию Вы можете узнать, перейдя в раздел:</p>
                <a href="" class="service__btn btn">подробнее про настройку</a>
            </div>
        </div>
        <a href="" class="service__btn--mob btn">подробнее про настройку</a>
    </div>
</section>



